<div style="padding: 1rem;">
  <p *ngIf="searchId !== ''">Searching for "{{searchId}}".</p>
  <p>{{searchId !=="" ? numberOfVotingOnSearch : numberOfVoting}} voting(s) available.</p>

  <!-- <div *ngIf="numberOfVoting > 0"> -->
    <div class="row">
      <div *ngFor="let voting of searchId !=='' ? votingListOnSearch : votingList"
          style="margin-bottom: 1rem;" class="col-md-4">
        <!-- <div class="col-md-4"> -->
          <div class="card" style="background-color: #374d88;">
            <div class="card-body">
              <h5 style="color: aqua;">
                Voting {{voting.votingId}}
              </h5>
              <p style="color: white;">
                Voting time: {{voting.startTime}} ~ {{voting.endTime}}
              </p>
              <div class="d-flex justify-content-between">
                <a class="btn btn-primary"
                    [routerLink]="[startVotingURL, voting.votingId]">
                  Vote now
                </a>
                <a class="btn btn-warning" *ngIf="isOwner"
                    [routerLink]="[editVotingURL, voting.votingId]">
                  Edit voting
                </a>
              </div>
            </div>
          </div>
        <!-- </div> -->
      </div>
    </div>
  <!-- </div> -->

</div>