.option {
    // display: flex;
    align-items: center;
    padding: 0.75rem;
    margin-bottom: 0.75rem;
    border: 0.05rem solid;
    border-radius: 0.33rem;
    cursor: pointer;
}

.option-selected {
    background-color: #374d88;
    color: aqua;
}